# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.SimbirTest.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Никита\RiderProjects\SimbirTest\.idea\.idea.SimbirTest.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
